<div class="container-fluid">
{{#if 'waitForComplete'}}
<div class="row">
{{#each job in 'runningJobs'}}
    <div class="col-md-12">
        <div class="zanWaitForComplete">
            <div>
                <img src="/img/spinner_small.gif" />
            </div>
            <div>
                {{job.op}} {{job.libName}}
            </div>
        <div>
    </div>
{{/each}}
</div>
{{else}}
<p />
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-info" {{action "update"}}>Update Catalog</a>
    </div>
</div>
<p />
<div class="row">
{{#each lib in 'searchResult'}}
    <div class='zanLibraryInformation col-md-12'>
        <h5>{{lib.name}}</h5>
        <div>{{lib.status}}
	    <!-- following code supposed to work, but it doesn't -->
	    {{#ifCond lib.status "==" "INSTALLED" }}
	        <a {{action "upgrade" lib.name}}>Upgrade</a> | 
	        <a {{action "uninstall" lib.name}}>Uninstall</a>
	    {{/ifCond}}
	    {{#ifCond lib.status "==" "UNINSTALLED" }}
	        <a {{action "install" lib.name}}>Install</a>
            {{/ifCond}} 
	</div>
    </div>
{{/each}}
</div>

{{/if}}

</div> <!-- container-fluid -->