<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Gates Foundation Spending - Vallandingham.me</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>
  <div id="container" class="container">
    <div id="main" role="main">
      <div id="view_selection" class="btn-group">
        <a href="#" id="all" class="btn active">All</a>
        <a href="#" id="group" class="btn">Group</a>
      </div>
      <div id="vis"></div>
    </div>
  </div> <!--! end of #container -->

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <script src="js/CustomTooltip.js"></script>
  <script src="js/libs/d3.min.js"></script>
  <script src="js/libs/d3.csv.min.js"></script>
  <script src="js/libs/d3.layout.min.js"></script>
  <script src="js/libs/d3.geom.min.js"></script>
  <script type="text/javascript">
      var columnTypeConversion = {
	  "int"      : "number",
	  "bigint"   : "number",
	  "char"     : "string",
	  "date"     : "date",
	  "decimal"  : "number",
	  "double"   : "number",
	  "float"    : "number",
	  "integer"  : "number",
	  "longvarchar" : "string",
	  "numeric"  : "number",
	  "tinyint"  : "number",
	  "varchar"  : "string"
      };

<% if z.result != nil %>
  bubblecolumn = [];
  <% z.result.getColumnDef.each do |col| %>
        bubblecolumn.push({
	    type : (columnTypeConversion['<%=col.typeName%>']) ? columnTypeConversion['<%=col.typeName%>']: 'string',
	    name : '<%=col.name%>'
	});
  <% end %>
  bubbledata = [];
  <% if z.result.rows != nil %>
            <% z.result.rows.each do |row| %>
              bubbledata.push([
		  <% row.each_with_index do |cell,index| %>
		        <% if index!=0 %>
			    ,
                        <% end %>
		        (bubblecolumn[<%=index%>].type=="number") ? Number('<%= cell.to_s().gsub("'","\\\\'") %>') : '<%= cell.to_s().gsub("'","\\\\'") %>'
		  <% end %>
	      ]);
	    <% end %>
  <% end %>
<% end %>

  </script>
  <script type="text/javascript" src="js/bubble.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $(document).ready(function() {
          var bubble = new Bubble(bubbledata, { width:600, height:600, gravity:0.12, damper : 0.1, friction: 0.9, col : 3 });
	  bubble.display("#vis");
	  bubble.all();
          $('#group').click(function() {
            var view_type = $(this).attr('id');
            $('#view_selection a').removeClass('active');
            $(this).toggleClass('active');
	    bubble.group();
            return false;
          });
          $('#all').click(function() {
            var view_type = $(this).attr('id');
            $('#view_selection a').removeClass('active');
            $(this).toggleClass('active');
	    bubble.all();
            return false;
          });

        });
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
