<div id="zqlEditorHeader">
  <a href="#" data-type="text" id="zqlJobName"></a>
  <div>History <a href="#" data-type="select" id="zqlJobHistory"></a></div>
</div>
<p />
<div id="zqlEditor" class="zqlEditor"></div>
  {{textarea id="zqlEditorArea"}}
<p />
  {{view view.zqlParamView}}
<div>
  <a id="zqlRunButton" class="btn btn-lg btn-primary" {{action 'runJob'}}>Run</a>
  <a id="zqlAbortButton" class="btn btn-lg btn-primary" style="display:none;" {{action 'abortJob'}}>Abort</a>
  <div style="float:right; text-align:right">
    Schedule - <a href="#" data-type="select" id="zqlJobCron"></a> | 
    <a id="zqlShareButton" {{action "shareJob"}}>Share</a> | 
    <a id="zqlDeleteButton">Delete</a>
    <p style="font-size:11px">Last run {{currentJob.dateFinished}}, took {{jobTook}}</p>
  </div>
</div>
<p />
<div id="msgBox"></div>
<div id="visualizationContainer">

</div>
