<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a class="btn btn-info" {{action "newJob"}}>Create new Job</a>
    <hr />
    <div id="jobList" class="dd">
      <ol class="dd-list">
        {{#each sess in "runningJobs"}}
        <li class="dd-item row" data-id="{{sess.id}}">
            <dev class="dd-handle">::</dev>
            <dev class="dd-content">
                <a {{action "openJob" sess.id}}>{{#if sess.jobName}}{{sess.jobName}}{{else}}{{sess.id}}{{/if}}</a>
            </dev>
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>
